<html>
    <head>
        <% if(locals.user) {%>
            <title><%=user.fullname%></title>
        <%} else {%>
            <title>Login</title>
        <%}%>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/mycss.css">
        <script type = 'text/javascript' src = '/js/jquery.js'></script>
        <script type="text/javascript" src='/js/bootstrap.min.js'></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    </head>
    <div class="navbar fixed-top black">
        <a class="navbar-brand" href="#">Home</a>
        <% if(locals.user) {%>
            <div id="noti-related-container" class="navbar-brand dropdown">
                <button id="friend-request-noti">
                    <img src="/images/friend-request.jpg" style="width: 30px; height: 30px;" alt="">
                </button>
                <div id="friend-request-drop-down-list" class="dropdown-content">

                </div>
            </div>
            <script type="text/javascript" src="/js/noti.js"></script>
            <a href="/logout">Logout</a>
        <%}%>
        
    </div>