    <%- include('layouts/header'); %>
    <body>

        <% if(locals.user) { %>
            <script>
                Cookies.set('fullname', '<%=user.fullname%>');
                Cookies.set('userId', '<%=user.id%>');
            </script>
        <div class="jumbotron row">
            <div class="col-md-2">

            </div>
            <div id="post-related-container" class=" col-md-6" style="padding: 20px 0px 20px 0px">
                <%-include('postBox')%>

                <%-include('post');%>
            </div>
            <div class="col-md-4">
                <div style="position: fixed;">
                    <%-include('friendTips')%>
    
                    <%-include('listFriend');%>
                </div>
            </div>
            
            <script type="text/javascript" src="/js/home.js"></script>
            <script type="text/javascript" src="/socket.io/socket.io.js"></script>
            <script type="text/javascript" src="/js/socketClient.js"></script>

        <%}%>
        </div>
    </body>
    <%-include('layouts/footer')%>

    