<div class="list-friend">
    <% user.friends.forEach(function(friend) {%>
        <div>
            <input type="hidden" value="<%=friend.id%>">
            <a href="/profile/<%=friend.id%>"><%=friend.fullname%></a>
            <button class="inbox-btn">Inbox</button>
        </div>
    <%})%>
</div>