<%-include('layouts/header')%>
    <body class="jumbotron container">
        <div class="jumbotron">
             <div class="col-md-4 center">
                <h3 style="margin-bottom: 30px">Login your account</h3>
                <form id = 'login-form' action="/login" method="POST">
                    <h5>Username: </h5>
                    <input class="form-control mr-sm-2" name='username' type="text" required>
                    <h5>Password:</h5>
                    <input class="form-control mr-sm-2" name="password" type="password" required >
                    <div class=" content-margin">
                        <button class="btn btn-small btn-info" id='login-btn' type="submit">Login</button>
                        <a class="btn btn-small btn-primary" href="/register">Register !</a>
                    </div>
                </form>  
             </div>
        </div>
        <script>
            $(document).ready(function() {
                $('#password').focus();
            });
        </script>
        <!-- <script type="text/javascript" src = '/js/login.js'></script> -->
    </body> 
<%-include('layouts/footer')%>