<% user.postIds.forEach(function(post) {%>
    
    <div class="well post-box rounded">
        <div class="post-box-content rounded" id="contain-id">
            <input type="hidden" value="<%=post.id%>">
            <div class="well row" style="flex-wrap: nowrap !important; margin: 0 !important;">
                <img src="/images/user-icon.jpg" class="rounded-circle icon-user" alt="">

                <div class="col-md-6">
                    <a href="/profile/<%=post.userId.id%>"><%=post.userId.fullname%></a>
                    <h6><%=post.time%></h6>
                </div>
            </div>

            <div class="well">
                <%=post.content%>
            </div>
            <hr>
            <div class="row like-cmt-share">
                <button class="col-md-4">
                    <img src="/images/like-icon.png" style="width: 30px; height: 30px;" alt="">
                    Like
                </button>
                <button class="col-md-4 get-comment-btn">
                    <img src="/images/comment-icon.png" style="width: 30px; height: 30px;" alt="">
                    Comment
                </button>
                <input type="hidden" value="true">
                <button class="col-md-4">
                    <img src="/images/share-icon.png" style="width: 30px; height: 30px;" alt="">
                    Share
                </button>
            </div>
        </div>

        <div class="post-box-comment">
            <div class="cmt-box"></div> <!-- Where show comments of the post -->
            <div id="hiddenCommentBox" class="row icon-cmt-box" style="display: none;">
                <img src="/images/user-icon.jpg" class="rounded-circle icon-user-small" alt="">
                <div class='hidden-div'>
                    <form class="comment-form">
                        <input class="input-comment" type="text" placeholder="Write comment ...">
                    </form>
                </div>
            </div>

        </div>

        

    </div>
<%})%>