<%- include('layouts/header'); %>
<ul>name: <%=user.fullname%></ul>
<% user.postIds.forEach(function(post) {%>
    <a href="/profile/<%=user.id%>"><%=user.fullname%></a>
    <%=post.time%>
    <br>
    <%=post.content%>
    <br>
<%})%>
<%- include('layouts/footer')%>