<%- include('layouts/header'); %>
    <body class="container">
        <div class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse black">
            <a class="navbar-brand" href="/">Home</a>
        </div>
        <div class="jumbotron row">
             <div class="col-md-4 center">
                <h3 style="margin-bottom: 30px">Register account</h3>
                <form id = 'register-form'>
                    <h5>Email or phone number: </h5>
                    <input class="form-control mr-sm-2" id='username' type="text" required>
                    <h5>Password:</h5>
                    <input class="form-control mr-sm-2" id="password" type="password" required>
                    <h5>Full name:</h5>
                    <input class="form-control mr-sm-2" id="name" type="text" required>
                    <div class=" content-margin">
                        <button class="btn btn-small btn-info" id='register-btn' type="submit">Sign in</button>
                    </div>
                </form>
             </div>
        </div>
        <script type="text/javascript" src = '/js/register.js'></script>
    </body> 
<%- include('layouts/footer')%>