p {
    margin-bottom: 0;
    margin-left: 5px;
}

hr {
    margin-bottom: 0;
}

a {
    color: #365899;
}

.black {
    background-color: black;
}
.content-margin {
    margin-top: 10px;
}
.center {
    margin: auto;
}

.post-form {
    width: 100%;
}

#post-content {
    width: 100%;
    border-radius: 15px;
}

.post-box {
    background-color: #f2f3f5;
    margin-bottom: 50px;
}

.post-box-content {
    background-color: white;
    padding: 10px 10px 0px 10px;
    margin-bottom: 5px;
}

.like-cmt-share {
    margin: auto;
    width: 100%;
}

.like-cmt-share button {
    outline: none;
    background-color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.like-cmt-share button:hover {
    background-color: #8385864a;
}

.post-box-comment {
    padding-left: 15px;
    padding-right: 15px;
}

.comment-box {
    background-color: white;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 15px;
    padding: 5px;
    clear:both;
    float:left;
}



.cmt {
    margin-left: 5px;
}

.icon-user {
    width: 50px;
    height: 50px;
}

.icon-user-small {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.icon-cmt-box {
    flex-wrap: nowrap !important;
    margin: 0 !important;
    width: 100%;
}

.like-answer-time {
    width: max-content !important;
    margin: 0 !important;
}

.hidden-div {
    width: 100%;
}

.input-comment {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px;
    border-radius: 15px;
    outline: none;
}

.friend-tips-box {
    width: 450px;
    background-color: white;
    padding: 5px;
    border-radius: 7px;
}

.list-friend {
    background-color: white;
    padding: 5px;
    border-radius: 7px;
    margin: 5px 0px 0px 0px;
}

.element-friend-tip {
    margin: 0 !important;
}

.text-element-friend-tip {
    padding: 5px 15px 5px 15px;
}


/* drop down css */

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}